<!DOCTYPE html>
<html class="no-js"> 
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Wokovuway Org.</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
<meta name="author" content="FREEHTML5.CO" />

<!-- Facebook and Twitter integration -->
<meta property="og:title" content=""/>
<meta property="og:image" content=""/>
<meta property="og:url" content=""/>
<meta property="og:site_name" content=""/>
<meta property="og:description" content=""/>
<meta name="twitter:title" content="" />
<meta name="twitter:image" content="" />
<meta name="twitter:url" content="" />
<meta name="twitter:card" content="" />

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="favicon.ico">

<!-- Bootstrap  -->
<link rel="stylesheet" href="../css/bootstrap.css">
<!-- Superfish -->
<link rel="stylesheet" href="../css/superfish.css">
<link rel="stylesheet" href="../css/custom.css">
<link rel="stylesheet" href="../css/style.css">


<!-- Include Swiper.js CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">




<body>
<div id="fh5co-wrapper">
<div id="fh5co-page">


	<header id="fh5co-header-section" class="sticky-banner">
		<div class="container">
			<div class="nav-header">
				<button class="js-fh5co-nav-toggle fh5co-nav-toggle dark">
					<i class="fa fa-bars"></i>
				  </button>
				  
				
				<a href="#">
					<img src="../images/logos1.png" alt="Your Logo" style="max-width: 110px; margin-top: 0%;">
					<span style="font-size: 18px; font-weight: bold; margin-left: 10px;">Wokovuway Org</span>
				</a>
									<!-- START #fh5co-menu-wrap -->
				<nav id="fh5co-menu-wrap" role="navigation">
					<ul class="sf-menu" id="fh5co-primary-menu">
						<li class="active">
							<a href="../View/index.html">Home</a>
						</li>
						<li>
							<a href="../View/donate.html" class="fh5co-sub-ddown">Donate</a>
							 
						</li>
						<li>
							<a href="../View/about.html" class="fh5co-sub-ddown">About us</a>
							
						</li>
						<li>
							<a href="../View/success.html" class="fh5co-sub-ddown">Success stories</a>
							 
						</li>
						<li><a href="../View/contact.html">Contact</a></li>
						<li class="mobile-donate">
					   <a href="../View/donate.html" class="donate-button">💖 Donate Now</a>
						</li>

					</ul>
				</nav>
			</div>
		</div>
	</header>




<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<!-- Hero Section with Image Slider -->
<div class="donation_hero">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url('../images/roof.JPG');"></div>
            <div class="swiper-slide" style="background-image: url('../images/camp_visit.JPG');"></div>
            <div class="swiper-slide" style="background-image: url('../images//goma.JPG');"></div>
            <div class="swiper-slide" style="background-image: url('../images/camp_j.JPG');"></div>
        </div>
        <!-- Pagination and Navigation -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>

<!-- CSS -->
<style>
    .donation_hero {
        width: 100vw;
        height: 400px;
        overflow: hidden;
    }
    
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    /* Optional: Customize navigation buttons */
    .swiper-button-next, .swiper-button-prev {
        color: white;
    }
</style>

<!-- Swiper.js Initialization Script -->
<script>
    var swiper = new Swiper(".mySwiper", {
        loop: true,
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>



















<!-- Donation Information Section -->
<div class="container">
<div class="row">
<!-- GoFundMe Donation -->
<div class="col-md-3 col-sm-6">
<div class="about-us-col">
<h3 class="col-title">Support Us on GoFundMe</h3>
<div class="col-details">
<p>Help us continue our mission by donating through our official GoFundMe campaign.</p>
<p><a href="https://www.gofundme.com/f/rebuild-lives-in-congo-support-displaced-families-today/cl/o?lang=en_US&utm_campaign=fp_sharesheet&utm_medium=customer&utm_source=copy_link&attribution_id=sl%3A2cb80c73-a9e4-43df-9489-b0173479eec3" target="_blank" class="btn btn-primary">Donate Now</a></p>
</div>
</div>
</div>

<!-- Bank Account Transfer -->
<div class="col-md-3 col-sm-6">
<div class="about-us-col">
<h3 class="col-title">Bank Account Transfer</h3>
<div class="col-details">
  <ul>
      <li><strong>Account Number:</strong> 00011050288200103315976 USD</li>
      <li><strong>Account Name:</strong> WOKOVU WAY ASBL</li>
      <li><strong>SWIFT Code:</strong> BCDCCDKI</li>
  </ul>

  <h4>Correspondent Banks:</h4>
  <ul>
      <li><strong>CITIBANK NEW YORK:</strong> SWIFT Code: <em>CITI US 3X</em></li>
      <li><strong>COMMERZBANK A.G./FRANKFURT-Germany:</strong> SWIFT Code: <em>COBADEFF</em></li>
  </ul>

  <p>If you have any questions, please feel free to contact us.</p>
</div>
</div>
</div>

<!-- Other Alternatives -->

<div class="col-md-3 col-sm-6">
<div class="about-us-col">
<h3 class="col-title">Other Alternatives</h3>
<div class="col-details">
<p>For any other donations (clothes, food, water, stationery, etc.), kindly fill out this <a href="form.html" target="_blank">form</a>.</p>
</div>
</div>
</div>
</div>
</div>



		<!-- END What we do -->
		<footer>
			<div id="footer">
				<div class="container">
					<div class="footer-row">
						<!-- Column 1: About -->
						<div class="footer-column">
							<h4>About Us</h4>
							<p>Wokovu Way is dedicated to empowering communities through innovation and support.</p>
							<a href="about.html" class="read-more">Read More</a>
						</div>
						
		
						<!-- Column 2: Contact Info -->
						<div class="footer-column">
							<h4>Contact</h4>
							<p><strong>Address:</strong> Ndosho, Rulenga Avenue, N°003</p>
							<p><strong>Phone:</strong> +243 123 456 789</p>
							<p><strong>Email:</strong> <a href="mailto:info@wokovuway.com">info@wokovuway.org</a></p>
						</div>
		
						<!-- Column 3: Quick Links -->
						<div class="footer-column">
							<h4>Quick Links</h4>
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
		
						<!-- Column 4: Social Media -->
						<div class="footer-column">
							<h4>Follow Us</h4>
							<div class="social-icons">
							<a href="https://x.com/wokovuwayngo?s=21" target="_blank"><i class="fa-brands fa-twitter"></i></a>
							<a href="https://www.facebook.com/wokovuway/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
							<a href="https://www.instagram.com/wokovuway?igsh=MmU1aWJ6Z3d3dXc3" target="_blank"><i class="fa-brands fa-instagram"></i></a>
							</div>

							
							
						</div>
						<div class="partners">
							<h4> Our Partners </h4>
							<a href="https://www.partner1.com" target="_blank">
								<img src="../images/men_en.png" alt="Partner 1" />
							</a>
							<a href="https://cd.usembassy.gov/kinshasa/" target="_blank">
								<img src="../images/uskin.jpg" alt="Partner 2" />
							</a>
							<a href="https://www.medecinssansfrontieres.ca/" target="_blank">
								<img src="../images/med.webp" alt="Partner 3" />
							</a>
							<a href="https://menengage.org/" target="_blank">
								<img src="../images/unfpa.png" alt="Partner 4" />
							</a>
						</div>
					</div>
				</div>
		
				<!-- Bottom Footer (All Rights Reserved at the Bottom) -->
				<div class="footer-bottom">
					<p>© 2025 Wokovu Way. All Rights Reserved.</p>
					<p>Designed by <a href="http://freehtml5.co/" target="_blank">Goshen WebX</a></p>
				</div>
			</div>
		</footer>
		
		
	
		<script>
			document.addEventListener("DOMContentLoaded", function () {
			  const toggleButton = document.querySelector(".js-fh5co-nav-toggle");
			  const menu = document.getElementById("fh5co-menu-wrap");
		  
			  if (toggleButton && menu) {
				toggleButton.addEventListener("click", function () {
				  menu.classList.toggle("active"); // Toggles a class to show/hide menu
				});
			  }
			});
		  </script>


</body>
</html>